---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import Socials from '../components/Socials.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { getCollection } from 'astro:content'

const projects = (await getCollection('projects')).sort((a, b) => a.data.sort_order - b.data.sort_order)
---

<BaseLayout
  title="Carolina Hurricanes Public Address Announcer and Tech Executive."
  description="Wade Minter is a technology executive, NHL Public Address Announcer, Improv Comedian, and Public Speaker in Raleigh, North Carolina."
  featuredImage="/images/site/wade-rtp180.jpg"
>
  <Hero
    title="Technology Executive, NHL PA Announcer, Engineering Leader, Improv Comedian, Public Speaker"
    subtitle="I lead a very weird life."
    image="/images/site/wade-rtp180.jpg"
    imagePosition="top"
    showSocials={true}
  >
    <Socials slot="socials" />
  </Hero>

  <section class="max-w-6xl mx-auto px-6 py-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      {projects.map(project => (
        <ProjectCard
          title={project.data.title}
          subtitle={project.data.subtitle}
          description={project.data.description}
          image={project.data.featured_image}
          url={project.data.permalink}
        />
      ))}
    </div>
  </section>
</BaseLayout>
